<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body class="p-3">
    <h1 class="text-center">ChatBot NLP</h1>
    <div class="d-flex justify-content-center">
      <div class="p-2">
        <a href="">
          <button type="button" class="btn btn-primary">Ý định</button>
        </a>
      </div>
      <div class="p-2">
        <a href="">
          <button type="button" class="btn btn-outline-primary">Câu mẫu</button>
        </a>
      </div>
      <div class="p-2">
        <a href="">
          <button type="button" class="btn btn-outline-primary">StopWord</button>
        </a>
      </div>
      <div class="p-2">
        <a href="nlp/chatbot">
          <button type="button" class="btn btn-outline-primary">Chat bot</button>
        </a>
      </div>
    </div>
    <h2 class="text-center">Dữ liệu câu mẫu</h2>
    <div style="padding: 30px 100px">
      <div class="float-end">
        <a href="">
          <button type="button" class="btn btn-primary">Thêm ý định</button>
        </a>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" width="5%">#</th>
            <th scope="col" width="50%">Câu mẫu</th>
            <th scope="col" width="30%">Ý định</th>
            <th scope="col" width="25%">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <div class="d-flex">
                <div class="px-2">
                  <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                </div>
                <div class="px-2">
                  <a href="">
                    <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
