<footer class="bg-dark mt-5">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-auto">
            <img src="images/Logo.png" alt="Logo" width="100px" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-auto">
            <p class="text-light text-small">&copy; 2021 WREF</p>
          </div>
        </div>
      </div>
      <div class="col">
        <ul class="list-unstyled mt-4">
          <li class="mb-3"><a href="" class="text-decoration-none link-light cs-fNiramit">Trang chủ</a></li>
          <li class="mb-3"><a href="" class="text-decoration-none link-light cs-fNiramit">Kinh doanh</a></li>
          <li class="mb-3"><a href="" class="text-decoration-none link-light cs-fNiramit">Về chúng tôi</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled mt-4">
          <li class="mb-3 text-light cs-fNiramit text-uppercase">Liên hệ</li>
          <li class="mb-3 text-light cs-fNiramit">
            <div class="d-inline-block" style="width: 24px">
              <img src="images/envelope.svg" alt="Home" height="18px" />
            </div>
            wrefteam2021@gmail.com
          </li>
          <li class="mb-3 text-light cs-fNiramit">
            <div class="d-inline-block" style="width: 24px">
              <img src="images/mobile.svg" alt="Home" height="18px" />
            </div>
            +84 (0)796 796 492
          </li>
        </ul>
      </div>
      <div class="col">
        <img
          src="https://plantix.net/en/assets/images/google-play-badge/google-play-badge-en.svg"
          alt="Google Play"
          height="120px"
        />
      </div>
    </div>
  </div>
</footer>
