#header {
  padding-top: 100px;
  min-height: calc(100vh);
  padding-bottom: 50px;
  background: url('../images/field2.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

#dataPrice .VietNamMap > path.active {
  fill: var(--bs-primary);
}

#advertisementPrice .VietNamMap > path.active {
  fill: var(--bs-warning);
}

.VietNamMap > path {
  fill: var(--bs-secondary);
}

.VietNamMap > path:hover {
  opacity: 0.8;
}
