@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,300;0,400;0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

body {
  font-family: "Be Vietnam Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Scroll Style */
body::-webkit-scrollbar {
  width: 6px;
  background-color: var(--bs-light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bs-primary);
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: var(--bs-light);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--bs-primary);
}

/* Navbar */
nav {
  font-family: "Niramit", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  backdrop-filter: blur(10px);
}

/* Fonts */
.cs-fBungee {
  font-family: "Bungee", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cs-fNiramit {
  font-family: "Niramit", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
